openapi: 3.0.1
info:
  title: Codacy Account Pull Requests API
  description: Codacy API v3 for managing organizations, repositories, issues, pull requests, coverage, security, and quality settings on the Codacy automated code quality and security platform. All authenticated endpoints use an account API token passed in the api-token header.
  termsOfService: https://www.codacy.com/terms
  contact:
    name: Codacy Support
    url: https://www.codacy.com
    email: support@codacy.com
  version: '3.0'
servers:
- url: https://api.codacy.com/api/v3
  description: Codacy Cloud API v3
security:
- api-token: []
tags:
- name: Pull Requests
  description: Pull request analysis, files, issues, and AI review.
paths:
  /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/pull-requests:
    get:
      operationId: listRepositoryPullRequests
      tags:
      - Pull Requests
      summary: List a repository's pull requests with analysis.
      parameters:
      - $ref: '#/components/parameters/provider'
      - $ref: '#/components/parameters/remoteOrganizationName'
      - $ref: '#/components/parameters/repositoryName'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: A paginated list of pull requests with analysis.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PullRequestWithAnalysisListResponse'
  ? /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/pull-requests/{pullRequestNumber}
  : get:
      operationId: getRepositoryPullRequest
      tags:
      - Pull Requests
      summary: Get a single pull request with analysis.
      parameters:
      - $ref: '#/components/parameters/provider'
      - $ref: '#/components/parameters/remoteOrganizationName'
      - $ref: '#/components/parameters/repositoryName'
      - $ref: '#/components/parameters/pullRequestNumber'
      responses:
        '200':
          description: The pull request with analysis.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PullRequestWithAnalysisResponse'
  ? /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/pull-requests/{pullRequestNumber}/issues
  : get:
      operationId: listPullRequestIssues
      tags:
      - Pull Requests
      summary: List the issues introduced or fixed in a pull request.
      parameters:
      - $ref: '#/components/parameters/provider'
      - $ref: '#/components/parameters/remoteOrganizationName'
      - $ref: '#/components/parameters/repositoryName'
      - $ref: '#/components/parameters/pullRequestNumber'
      responses:
        '200':
          description: A list of pull request issues.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PullRequestIssuesListResponse'
  ? /analysis/organizations/{provider}/{remoteOrganizationName}/repositories/{repositoryName}/pull-requests/{pullRequestNumber}/ai-reviewer/trigger
  : post:
      operationId: triggerPullRequestAiReview
      tags:
      - Pull Requests
      summary: Trigger the AI Reviewer on a pull request.
      parameters:
      - $ref: '#/components/parameters/provider'
      - $ref: '#/components/parameters/remoteOrganizationName'
      - $ref: '#/components/parameters/repositoryName'
      - $ref: '#/components/parameters/pullRequestNumber'
      responses:
        '204':
          description: The AI review was triggered.
components:
  parameters:
    pullRequestNumber:
      name: pullRequestNumber
      in: path
      required: true
      description: Pull request number on the Git provider.
      schema:
        type: integer
        format: int64
    cursor:
      name: cursor
      in: query
      required: false
      description: Cursor for the next page of results.
      schema:
        type: string
    repositoryName:
      name: repositoryName
      in: path
      required: true
      description: Repository name on the Git provider.
      schema:
        type: string
    limit:
      name: limit
      in: query
      required: false
      description: Maximum number of items to return (max 1000).
      schema:
        type: integer
        default: 100
        maximum: 1000
    provider:
      name: provider
      in: path
      required: true
      description: Git provider code (gh, ghe, gl, gle, bb, bbe).
      schema:
        type: string
        enum:
        - gh
        - ghe
        - gl
        - gle
        - bb
        - bbe
    remoteOrganizationName:
      name: remoteOrganizationName
      in: path
      required: true
      description: Organization name on the Git provider.
      schema:
        type: string
  schemas:
    PullRequestWithAnalysis:
      type: object
      properties:
        pullRequest:
          $ref: '#/components/schemas/PullRequest'
        isUpToStandards:
          type: boolean
        isAnalysing:
          type: boolean
        newIssues:
          type: integer
        fixedIssues:
          type: integer
        deltaCoverageWithDecimals:
          type: number
        coverage:
          type: object
          properties:
            deltaCoverage:
              type: number
            diffCoverage:
              type: number
    PaginationInfo:
      type: object
      properties:
        cursor:
          type: string
        limit:
          type: integer
        total:
          type: integer
    PullRequestWithAnalysisResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PullRequestWithAnalysis'
    PullRequestWithAnalysisListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PullRequestWithAnalysis'
        pagination:
          $ref: '#/components/schemas/PaginationInfo'
    PullRequest:
      type: object
      properties:
        id:
          type: integer
          format: int64
        number:
          type: integer
        updated:
          type: string
          format: date-time
        status:
          type: string
        title:
          type: string
        owner:
          $ref: '#/components/schemas/GitUser'
        originBranch:
          type: string
        targetBranch:
          type: string
    GitUser:
      type: object
      properties:
        username:
          type: string
        name:
          type: string
        email:
          type: string
        avatarUrl:
          type: string
    CommitIssue:
      type: object
      properties:
        issueId:
          type: string
        commitIssue:
          type: object
          properties:
            patternInfo:
              type: object
              properties:
                id:
                  type: string
                category:
                  type: string
                subCategory:
                  type: string
                level:
                  type: string
                severityLevel:
                  type: string
                title:
                  type: string
            filePath:
              type: string
            lineNumber:
              type: integer
            message:
              type: string
            language:
              type: string
            toolInfo:
              type: object
              properties:
                name:
                  type: string
                uuid:
                  type: string
    PullRequestIssuesListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CommitIssue'
        pagination:
          $ref: '#/components/schemas/PaginationInfo'
  securitySchemes:
    api-token:
      type: apiKey
      in: header
      name: api-token
      description: Account API token created in your Codacy account settings.
